<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dependentInfo">
            <h2><span jhiTranslate="employeesocialstatusApp.dependentInfo.detail.title">Dependent Info</span> {{dependentInfo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="employeesocialstatusApp.dependentInfo.name">Name</span></dt>
                <dd>
                    <span>{{dependentInfo.name}}</span>
                </dd>
                <dt><span jhiTranslate="employeesocialstatusApp.dependentInfo.marriageDate">Marriage Date</span></dt>
                <dd>
                    <span>{{dependentInfo.marriageDate}}</span>
                </dd>
                <dt><span jhiTranslate="employeesocialstatusApp.dependentInfo.workingStatus">Working Status</span></dt>
                <dd>
                    <span>{{dependentInfo.workingStatus}}</span>
                </dd>
                <dt><span jhiTranslate="employeesocialstatusApp.dependentInfo.employer">Employer</span></dt>
                <dd>
                    <span>{{dependentInfo.employer}}</span>
                </dd>
                <dt><span jhiTranslate="employeesocialstatusApp.dependentInfo.employerType">Employer Type</span></dt>
                <dd>
                    <span>{{dependentInfo.employerType}}</span>
                </dd>
                <dt><span jhiTranslate="employeesocialstatusApp.dependentInfo.hireDate">Hire Date</span></dt>
                <dd>
                    <span>{{dependentInfo.hireDate}}</span>
                </dd>
                <dt><span jhiTranslate="employeesocialstatusApp.dependentInfo.houseAllowanceProvided">House Allowance Provided</span></dt>
                <dd>
                    <span>{{dependentInfo.houseAllowanceProvided}}</span>
                </dd>
                <dt><span jhiTranslate="employeesocialstatusApp.dependentInfo.governmentHousing">Government Housing</span></dt>
                <dd>
                    <span>{{dependentInfo.governmentHousing}}</span>
                </dd>
                <dt><span jhiTranslate="employeesocialstatusApp.dependentInfo.personalData">Personal Data</span></dt>
                <dd>
                    <div *ngIf="dependentInfo.personalDataId">
                        <a [routerLink]="['/personal-data-ess', dependentInfo.personalDataId, 'view']">{{dependentInfo.personalDataId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dependent-info-ess', dependentInfo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
